@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;900&display=swap');

*{
    margin: 0;
    font-family: 'Inter';
}

.container{
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 175px 2fr;
}

.sidebar{
    padding: 15px;
    grid-row: 1 / 3;
    background-color: #0e6de9;
    color: white;
    font-weight: 900;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.logo{
    display: flex;
    height: 70px;
    align-content: center;
}

.logo img{
    max-width: 75%;
    max-height: 75%;
    align-self: center;
}

.logo h2{
    align-self: center;
    font-weight: 600;
    display: inline-block;
    font-size: 180%;
    transform: scale(.8, 1)
}

.top-menu,
.bottom-menu{
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header{
    display: flex;
    flex-direction: column;
    padding: 30px;
    padding-top: 15px;
    gap: 20px;
}

.top-header{
    display: flex;
    justify-content: space-between;
    height: 50px;
    gap: 20px;
    align-items: center;

}

.bar{
    flex: 1;
    background-color: #cce0ed;
    border-radius: 40px;
    border: 0;
    height: 60%;
    
}

.space{
    width: 60px;
}

.profile-name{
    font-size: 110%;
    font-weight: 600;
    
}

.profile-image{
    border-radius: 50%;
    background-color: #0e6de9;
    
}

img{
    max-width: 85%;
    max-height: 85%;
}

.icon{
    max-width: 50%;
    max-height: 50%;
    
}



.bottom-header{
    display: flex;
    justify-content: space-between;
    height: 70px;
}

.to-left{
    display: flex;
    align-items: center;
    gap: 10px;
}

.hi{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.hi p{
    font-size: 75%;
    font-weight: 700;
}

.to-right{
    display: flex;
    gap: 10px;
    align-items: center;

}

button {
    background-color: #0e6de9;
    border-radius: 20px;
    color: white;
    width: 80px;
    height: 30px;
    border: 0;
    font-weight: 700;
    font-size: 75%;
}


.main-content{
    padding: 25px;
    padding-bottom: 50px;
    background-color: #cce0ed;
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}

.board{
    grid-row: 1 / 3;
}

.projects{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(150px, 1fr));
    gap: 18px;
}

.box{
    padding: 10px;
    border-radius: 5%;
    font-size: 70%;
    display: flex;
    flex-direction: column;
    color: rgb(167, 158, 158);
    font-weight: 700;
}

.box h4{
    color: black;
}

.box .expand{
    flex: 1;
}

.icons-box{
    display: flex;
    justify-content: end;
    align-items: flex-end;
    gap: 5px;
    height: 20px;
}

.icons-box .icon{
    color: rgb(130, 35, 35);
}


.announcement-container,
.trending-container,
.box{
    background-color: white;
}


.trending-article{
    display: flex;
    align-items: center;
    height: 50px;
    gap: 15px;
}

.hi h5{
    color: black;
}


.shadow{
    box-shadow: 2px 2px 4px #888;
}

.shadow-inset{
    box-shadow: inset 0 -2px 4px #999;
}

.distance{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

